<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activity</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/activity.css">
</head>

<body>
  <header class="header">
    <div>
      <img src="/images/logo.jpg" alt="Music Festival Logo" width="80" height="80">
    </div>
    <h1 class="web-name"><i>Music Festival</i></h1>
    <nav class="navb">
      <ul>
        <i>
          <li><a href="/">Home</a></li>
          <li><a href="/stages">Stages</a></li>
          <li><a href="/lineup">Lineup</a></li>
          <li><a href="/activity">Activity</a></li>
        </i>
      </ul>
    </nav>
  </header>
  <br><br><br><br><br>
  <main>
    <button id="sumBtn">Click to calculate the Sum</button>
    <div id="interactiveResult"></div>
  </main>
  <br><br><br>
  <footer>
    <p>&copy;Music Festival 2024</p>
    <div class="social-icons">
      <p>+44 932 4392943</p>
      <p>+44 932 4392944</p>
      <p>music-festival@support.com</p>
      <h3>This event will take place on 20th January!</h3>
    </div>
  </footer>

  <script src="/js/activity.js">    </script>

</body>

</html>