<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/stages.css">
  <title>Stages</title>
</head>

<body>
  <header class="head">
    <div>
      <img src="/images/logo.jpg" alt="Music Festival Logo" width="80" height="80">
    </div>
    <h1><i>Music Festival</i></h1>
    <nav>
      <ul>
        <i>
          <li><a href="/">Home</a></li>
          <li><a href="/stages">Stages</a></li>
          <li><a href="/lineup">Lineup</a></li>
          <li><a href="/activity">Activity</a></li>
        </i>
      </ul>
    </nav>
  </header>

  <h1> Stages </h1>
  <br><br>
  <ul id="stageupContent" class="main"></ul>

  <footer>
    <p>&copy;Music Festival 2024</p>
    <div class="social-icons">
      <p>+44 932 4392943</p>
      <p>+44 932 4392944</p>
      <p>music-festival@support.com</p>
      <h3>This event will take place on 20th January!</h3>
    </div>
  </footer>

  <script src="/js/stages.js"></script>

</body>

</html>