
header {
    display: flex;
    align-items: center;
    background-color: #414040;
    padding: 1em;
    width: 100%; 
    box-sizing: border-box; 
}
header h1:hover{
  text-decoration: none;
  color: rgb(247, 247, 248); 
  transition: color 0.3s;
}
header div {
    margin-right: 10px;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #fcfafa;
  color: #0a0a0a;
  overflow-x: hidden; 
  font-family: 'Georgia',serif;
  margin: 0;
  padding: 0;
}
h1 {
    margin: 0;
  } 
nav {
    margin-top: 10px;
  } 
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  } 
nav li {
    display: inline;
    margin-right: 40px;    
  }  
nav a {
    text-decoration: none;
    color: rgb(253, 251, 251);
    font-weight: bold;
    transition: color 0.3s; 
}
nav a:hover {
    text-decoration: none;
    color: rgb(3, 3, 3); 
}
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(253, 251, 251);
    box-shadow: 0 0 10px rgba(255, 254, 254, 0.1);
  }   
  main p {
      line-height: 1.6;
    }   
  main h2 {
      color: #080808;
    }
  @keyframes moveText {
    0% {
        left: 100%; 
    }
    100% {
        left: -100%; 
    }
}
.hero-section {
  position: relative;
  margin-top: 50px;
  max-width: 100%; 
  overflow: hidden; 
  box-sizing: border-box;
}
.hero-text {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(8, 8, 8);
}
.hero-text h2 {
  font-size: 2em;
  margin-top: 0;
}
.rounded-image {
  border-radius: 1%;
}
.hero-text p {
  font-size: 1.2em;
  
}
.feature-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  } 
.feature {
    text-align: center;
  } 
.feature img {
    height: 250px; 
    width: 400px;
    border-radius: 10px;
  }  
.feature h2 {
    margin: 15px 0;
  }
.feature p {
    color: #050505;
    margin-bottom: 15px;
  } 
.feature a {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(84, 84, 85);
    color: rgb(248, 246, 246);
    text-decoration: none;
    border-radius: 5px;
  }
.feature a:hover {
    background-color: #070707;
  }
  .event{
    position: absolute;
    left: 0; 
    white-space: nowrap; 
    animation: moveText 18s linear infinite;
}
  .faq-section {
    margin-top: 50px;
    background-color: #fcfafa;  
  }
  .faq {
    margin-bottom: 20px;
    background-color: #fdfafa;
    color: #050505;
  }
  .faq h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .faq p {
    color: #fcfbfb;
  }
h1 {
  text-align: center;
  color: #070707;
  font-family: 'Georgia', serif;
  margin-top: 20px;
  text-shadow: 2px 2px 4px #dbdbdf;
}
.faq-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(252, 250, 250);
  box-shadow: 0 0 10px rgba(139, 136, 136, 0.1);
}
.faq-section p {
  line-height: 1.6;
  color: #070707;
}
.faq-section strong {
  color: #fcfbfb;
}
.faq-section a {
  color: #fdfcfc;
  text-decoration: underline;
} 
.answer {
    display: none;
    padding: 10px;
    background-color: #f8f5f5;
    border-radius: 5px;
  } 
.visible {
    display: block;
  }
.toggle-icon {
    float: right;
    transition: transform 0.3s ease-in-out;
  }
.open .toggle-icon {
    transform: rotate(180deg);
  }
.toggle-icon, .faq h4 {
    cursor: pointer;
  }
footer {
    background-color: #414040;
    color: white;
    text-align: center;
    padding: 1em 0;
  }   
footer a {
      color: white;
      text-decoration: none;
      font-weight: bold;      
    }    
footer a:hover {
      text-decoration: underline;
    }  
  form {
    display: grid;
    gap: 15px;
  }
  label {
    font-weight: bold;
    color: #0c0c0c;
  }
  input,
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #020202;
  }
  #interactiveResult {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #ddd;
  }
  button {
    background-color: #555555; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button:hover {
    background-color: #080808; 
  }
  #lineupContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none; 
    padding: 0;
  }
  #stageupContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none; 
    padding: 0;
  }  
  .artist-box {
    background-color: #fcfafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 100px;
    text-align: center;
    width: 45%; 
    margin: 0 0 20px 0;
    box-sizing: border-box; 
    color: #020202;
  } 
  @media (max-width: 768px) {
    .feature a {
      margin-top: 10px; 
    }
  } 


  



  
  
  
  